<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>uofthacks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>468395E11E333E6F00AB19DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>468395FB1E333E6F00AB19DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>468396061E333E6F00AB19DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
